<!-- <footer class="text-center text-lg-start bg-light text-muted">
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Derechos Reservados:
      <a class="text-reset fw-bold" href="https://www.linkedin.com/in/leidy-viviana-velásquez-b089592a3" target="_blank">Leidy Viviana Velásquez Eraso</a>

    </div>
  </footer>
   -->

   <footer class="text-center text-lg-start bg-light text-muted">
    <div class="container-fluid">
        <div class="p-4">
            <h5><strong>Tecnologías aplicadas</strong> </h5>
        </div>
       
        <div class="row align-items-center justify-content-center mb-5">
            <!-- Centrar y distribuir los íconos uniformemente -->
            <div class="d-flex justify-content-around align-items-center flex-wrap" style="gap: 20px;">
                <a class="d-inline-block" target="_blank" href="https://aws.amazon.com/es/free/?...">
                    <img src="../../../../assets/img/W.png" alt="Logo AWS" width="70">
                </a>
                <!-- Repite para los demás íconos -->
                <a class="d-inline-block" target="_blank" href="https://aws.amazon.com/es/lambda/">
                    <img src="../../../../assets/img/aws-lambda.png" alt="Logo AWS Lambda" width="150">
                </a>
                <a class="d-inline-block" target="_blank" href="https://aws.amazon.com/es/api-gateway/">
                    <img src="../../../../assets/img/api.png" alt="Logo API Gateway" width="150">
                </a>
                <a class="d-inline-block" target="_blank" href="https://aws.amazon.com/es/s3/">
                    <img src="../../../../assets/img/s3.png" alt="Logo S3" width="150">
                </a>
                <a class="d-inline-block" target="_blank" href="https://aws.amazon.com/es/pm/dynamodb/">
                    <img src="../../../../assets/img/db.png" alt="Logo DynamoDB" width="150">
                </a>
                <a class="d-inline-block" target="_blank" href="https://aws.amazon.com/es/iam/">
                    <img src="../../../../assets/img/iam.png" alt="Logo IAM" width="40">
                </a>
                <a class="d-inline-block" target="_blank" href="https://registry.terraform.io/providers/hashicorp/aws/latest/docs">
                    <img src="../../../../assets/img/tf.png" alt="Logo Terraform" width="110">
                </a>
                <a class="d-inline-block" target="_blank" href="https://angular.dev/">
                    <img src="../../../../favicon.ico" alt="Logo" width="40">
                </a>
                <a class="d-inline-block" target="_blank" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">
                    <img src="../../../../assets/img/bts.png" alt="Logo BTS" width="80">
                </a>
            </div>
        </div>
        <!-- Derechos Reservados en una fila propia y centrada -->
        <div class="row">
            <div class="col-12 text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2024 Derechos Reservados: Leidy Viviana Velásquez Eraso
            </div>
        </div>
    </div>
</footer>
